body {
    background-color: antiquewhite;
}

#search-container {
    margin-top: 5%;
    padding: 0 10px 0 10px;

    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px black;

    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
}

#search {
    margin-bottom: -3%;

    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.icon {
    height: 20%;
    border-radius: 100%;
    padding: 3px;

    flex: 0.1 0.1 auto;
}

.icon:hover {
    outline: 1px solid #007BFF;
}

#search-bar {
    flex: 2 0 auto;

    border: none;
    background-color: transparent;
}

#search-bar:focus {
    outline: 0;
}

#search-results {
    margin: 3% 10px 0 22px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 5px
}

.results {
    font-family: Arial, sans-serif;
    font-size: small;
}

#line {
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: 30%;
}

.hidden {
    display: none;
}

#result-data-container {
    margin-top: 5%;
    padding: 10px 10px 10px 10px;

    font-family: Arial, sans-serif;
    font-size: large;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}